@model CompanyManagerTool.ViewModel.DropDownVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "Create";
}

<h4>Įmonės Forma</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompanyCode" class="control-label"></label>
                <input asp-for="CompanyCode" class="form-control" />
                <span asp-validation-for="CompanyCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WrongEmail" class="control-label"></label>
                <input asp-for="WrongEmail" class="form-control" />
                <span asp-validation-for="WrongEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="County" class="control-label"></label>
                <!--<input asp-for="County" class="form-control" />-->
                <div class="col-sm-14">
                    
                    <select class="form-control" id="County" name="County">
                        <option value="" selected>Pasirinkite Apskritį</option>
                        <option>Alytus</option>
                        <option>Kaunas</option>
                        <option>Klaipėda</option>
                        <option>Marijampolė</option>
                        <option>Panevėžys</option>
                        <option>Šiauliai</option>
                        <option>Tauragė</option>
                        <option>Telšiai</option>
                        <option>Utena</option>
                        <option>Vilnius</option>
                    </select>
                </div>
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VMVT" class="control-label"></label>
                <div class="col-sm-14">
                    @Html.DropDownListFor(model => model.VMVT, new SelectList(Model.VmvtDropDownList, "vmvtDivision", "vmvtDivision"), "Pasirinkite VMVT padalinį", new { @class = "form-control" })
                </div>
                <span asp-validation-for="VMVT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo" class="control-label"></label>
                <input asp-for="AdditionalInfo" class="form-control" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activities" class="control-label"></label>
                <input asp-for="Activities" class="form-control" />
                <span asp-validation-for="Activities" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Patvirtinti" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Atgal į sąrašą</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}